<div class={{styles.container}}>
  {{!-- Pop-up окно на Добавить пользователя: PopupAddUser  --}}
 {{> PopupAddUser isActive=false}}
  <div class={{styles.chat}}>
  {{> ChatMenuHeader}}
      {{> Message name="Имя" message="Сообщение" time="10:00" count="1" }}
      {{> Message name="Имя" message="Сообщение" time="10:00" count="1" }}
  </div>
  <div class={{styles.chat__text-area}}>
   {{> ChatProfileUser name="Имя" }}
    <div class={{styles.chat__text-area__body}}>
      {{> SettingPopup}}
      <div class={{styles.chat__text-area__body__time-message}}>
        19 июня
      </div>
        {{> ChatMessage
         text="Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты  <br> <br>  с пленкой. Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро"
         time="12:01"
         isText=true
         isMyMessage=false
         }}
        {{> ChatMessage
         image="/messageImg.png"
         time="12:02"
         isText=false
         isMyMessage=false
         }}
        {{> ChatMessage
         text="Круто!"
         time="12:03"
         isText=true
         isMyMessage=true
         isRead=true
         }}

        {{> ChatMessage
         text="Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты  <br> <br>  с пленкой. Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро"
         time="12:01"
         isText=true
         isMyMessage=false
         }}

        {{> ChatMessage
         text="Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты  <br> <br>  с пленкой. Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро"
         time="12:01"
         isText=true
         isMyMessage=false
         }}

        {{> ChatMessage
         text="Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты  <br> <br>  с пленкой. Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро"
         time="12:01"
         isText=true
         isMyMessage=false
         }}

       {{> AttachPopup isActive=true}}
    </div>
    {{> InputMessage }}
  </div>
</div>
